# Database Credentials
DATABASE_URL=your_neon_postgres_url

# Auth.js Configuration
AUTH_SECRET=your_auth_secret_hash
AUTH_GOOGLE_ID=your_google_id
AUTH_GOOGLE_SECRET=your_google_secret

# Stripe Billing Details
STRIPE_API_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_signing_secret